.card-img-wrapper {
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.list-inline-item{
    padding: 2px;
}

.card-img-wrapper:hover .member-icons {
    opacity: 1;
    bottom: 0;
}

.animate {
    transition: all 0.2s ease-in-out;
}

.card { 
    transition: all .2s ease-in-out; 
}

.card:hover img { 
    transform: scale(1.1); 
}

.card:hover { 
    transform: scale(1.02); 
}

.fa-circle {
    color: green;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }

.is-online {
    animation: pulse-animation 2s infinite ; 
}

  .green{
    background: #66FF99;
  }
  

  body {
    height: 100vh;
    overflow: hidden;
  }
  
  .green{
    background: #0caf43;
  }
  

  .center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }
  
    @keyframes pulse-animation {
      0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      }
      100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
      }
    }
  
  
 