    <div *ngIf="!registerMode" class="hero flex justify-center w-screen" style="min-height: 50vh;">
        <div class="hero-content flex-col lg:flex-row">
          <img src="https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">Find a gaming partner</h1>
            <p class="py-6">All you need to do is sign up!</p>
            <button  class="btn bg-accent hover:bg-accent-focus m-1" (click)="registerToggle()">Register</button>
            <button class="btn bg-primary m-1">Learn more</button>
          </div>
        </div>
      </div>
    
      <div *ngIf="registerMode" class="hero" style="min-height: 50; margin-top: 87px;">
        <div class="hero-content flex-col lg:flex-row-reverse">        
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
