<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <div class="card max-w-sm shadow-2xl bg-base-100" style="width: 50vw;">
        <div class="card-body">
            <h2 class="text-2xl font-bold text-center text-primary">Sign up</h2>
            <div class="mb-3">
              <mat-radio-group formControlName="gender" aria-label="I am a:">
                <mat-radio-button value="male"  class="radio" style="border:none" checked>Male</mat-radio-button>
                <mat-radio-button value="female" class="radio" style="border:none">Female</mat-radio-button>
              </mat-radio-group>
            </div>
            <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'" ></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known as'" ></app-text-input>
            <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"></app-date-picker>
            <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'" ></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'" ></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'" ></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Password'" [type]="'password'"></app-text-input>
            <div class="row" *ngIf="validationErrors">
              <ul class="text-red-500">
                <li *ngFor="let error of validationErrors">
                  {{error}}
                </li>
              </ul>
            </div>
          <div class="flex flex-row justify-center gap-2 mt-4">
            <button [disabled]="!registerForm.valid" type="submit" class="btn hover:bg-secondary-accent bg-secondary" >Register</button>
            <button type="button" class="text-red-500" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </div>
</form>
